<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item {{ item.id }}</title>
</head>
<body>
<div class="container">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }} cents</p>
    <form action="/buy/{{ item.id }}/" method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
</div>
</body>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
</html>